.container {
  margin: 0 auto;
  text-align: center;
  width: 280px;
}

@media (max-width: $mobile-width-only) {
  .container--mobile {
    margin: 0 auto;
    text-align: center;
    width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 620px;
  }

  .container--tablet-desktop {
    margin: 0 auto;
    text-align: center;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 940px;
  }

  .container--tablet-desktop {
    width: 940px;
  }

  .container--desktop {
    margin: 0 auto;
    text-align: center;
    width: 940px;
  }
}
