.copyright__text {
  font-size: $font-size-text;
  color: $color-text;
  font-weight: normal;
  line-height: 18px;
  align-items: center;
}

.copyright {
  padding: 15px 75px;
  margin-top: 20px;
  padding-bottom: 39px;
}

.copyright__link {
  margin-left: 14px;
  display: block;
  width: 29px;
  height: 39px;
  background: url("../img/logo-htmlacademy.svg") no-repeat 0 5px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 25px 0;
    margin-bottom: 23px;
    align-items: center;
  }

  .copyright__link {
    margin-left: 13px;
    background-position: 1px 5px;
  }

  .copyright__link:hover {
    background: url("../img/logo-htmlacademy-hover.svg") no-repeat 0 5px;
  }

  .copyright__link:active {
    background: url("../img/logo-htmlacademy-hover.svg") no-repeat 0 5px;
    opacity: 0.3;
  }

  .copyright__text {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }

  .copyright__link {
    margin-left: 12px;
  }
}
