.copyright__text {
  font-size: $font-size-text;
  color: $color-text;
  font-weight: normal;
}

.copyright {
  padding: 20px 95px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.copyright__link {
  margin-left: 15px;
  display: block;
  width: 29px;
  height: 34px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }
}
