.footer {
  background-color: #ffffff;
}

.without-footer .footer {
  display: none;
}

.footer__logo {
  margin: 0;
  padding: 20px;
  background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
  background-position: 85px 40px;
  height: 40px;
}

.footer__copyright {
  display: flex;
}

@media (min-width: $tablet-width) {
  .without-footer .footer {
    display: block;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    width: 660px;
    padding-bottom: 20px;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    width: 150px;
    background-position: 0 0;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 940px;
    padding: 45px 10px;
    padding-top: 15px;
    justify-content: space-between;
  }
}
