.footer {
  background-color: #ffffff;
}

.footer__wrapper {
  padding-top: 15px;
}

.without-footer .footer {
  display: none;
}

.footer__logo {
  margin: 0;
  padding: 20px;
  background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
  background-position: center 40px;
  height: 40px;
}

.footer__copyright {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .without-footer .footer {
    display: block;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding-top: 10px;
  }

  .footer__link {
    display: block;
    width: 150px;
    height: 40px;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
    margin-top: 26px;
    width: 177px;
    background-position: 0 0;
  }

  .footer__logo:hover {
    background: url("../img/logo-pink-blue-mobile-hover.svg") no-repeat;
  }

  .footer__logo:active {
    background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
    opacity: 0.3;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
    width: 177px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 45px 0;
    justify-content: space-between;
  }

  .footer__copyright {
    width: auto;
  }

  .footer__logo {
    width: 160px;
    margin: 25px 0 33px;
    background: url("../img/logo-pink-blue-desktop.svg") no-repeat;
  }

  .footer__logo:hover {
    background: url("../img/logo-pink-blue-desktop-hover.svg") no-repeat;
  }

  .footer__logo:active {
    background: url("../img/logo-pink-blue-desktop-hover.svg") no-repeat;
    opacity: 0.3;
  }

  .footer--foto .footer__wrapper {
    padding-top: 73px;
  }
}
