.header {
  display: flex;
  flex-direction: column;
  background-color: $color-background;
  text-transform: uppercase;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0;
}

.header__wrapper-menu {
  width: 100%;
}

.header__wrapper-color {
  display: flex;
  justify-content: space-between;
}

.header__logo,
.header__link {
  color: $color-logo;
}

.header__logo {
  width: 76px;
  margin: 9px 0;
  padding: 13px 0 10px;
}

.listen-nav--closed .header__logo {
  padding-bottom: 7px;
}

.listen-nav--closed .header__wrapper-color--desktop {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.header__toggle {
  position: relative;
  top: 21px;
  display: block;
  width: 50px;
  height: 25px;
  background: rgba(40, 54, 69, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
}

.listen-nav--closed .header__toggle {
  background: rgba(40, 54, 69, 0.3);
}

.header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.header__toggle--closed:hover::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
  opacity: 0.7;
}

.header__toggle--closed:active::before {
  background-color: #592f47;
  box-shadow: 0 10px 0 0 #592f47, 0 20px 0 0 #592f47;
}

.header__toggle--opened {
  width: 25px;
  top: 20px;
  right: -2px;
  background: rgba(40, 54, 69, 0.3);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -2px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 20px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__toggle--opened:hover {
  &::before,
  &::after {
    background-color: #d22856;
    opacity: 0.7;
  }
}

.header__toggle--opened:active {
  &::before,
  &::after {
    background-color: #592f47;
    opacity: 0.7;
  }

  @media (max-width: $mobile-tablet-width-only) {
    .nav--nojs .header__toggle {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .header__logo {
    width: 150px;
    margin: 20px 0;
    padding: 7px 0 17px;
  }

  .listen-nav--closed .header__logo {
    padding-bottom: 18px;
  }

  .header__wrapper-color-desktop {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .header__toggle {
    top: 44px;
  }

  .nav--opened .header__toggle:active {
    &::before,
    &::after {
      background-color: #d22856;
      opacity: 0.7;
    }
  }
}

@media (min-width: $desktop-width) {
  header.header {
    padding: 0;
    text-transform: none;
  }

  .header__wrapper-color {
    margin: 0;
    width: auto;
  }

  .header__wrapper-color--desktop {
    margin: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }


  .header__wrapper-menu {
    display: flex;
    width: 940px;
    margin: 0 auto;
  }

  .header__wrapper {
    padding: 0;
  }

  .header__logo {
    margin: 0;
    padding: 25px 0 29px;
  }

  .header__toggle {
    display: none;
  }
}
