.information__banner {
  padding-top: 16px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.information__banner-wrapper {
  background-color: #ffffff;
}

.information__advantages-wrapper {
  display: none;
}

.information__item .information__item-fone {
  padding-bottom: 318px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 124px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .information__item .information__item-fone {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

.information__info {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f2f2f2;
}

.information__list {
  margin: 0 10px;
  padding: 0;
  padding-top: 78px;
  list-style: none;
  text-align: center;
}

.information__rubric {
  font-size: 24px;
  line-height: 29px;
  font-weight: $font-light;
  color: $color-text;
}

.information__rubric:nth-child(2) {
  padding-top: 5px;
  margin-bottom: 5px;
}

.information__title {
  margin: 0;
  font-weight: $font-bold;
  font-size: $font-size-banner;
  line-height: $line-size;
}

.information__description {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 31px;
  font-size: $font-size-text;
  line-height: $line-size;
}

@media (min-width: $tablet-width) {
  .information__advantages {
    display: block;
  }

  .information__advantages-wrapper {
    display: block;
    padding: 96px 20px;
    background: url("../img/icon-timer-all.png") no-repeat;
    background-position: 20px 60px;
  }

  .information__rubric {
    font-size: 40px;
    padding: 0;
    margin: 0;
    padding-bottom: 11px;
  }

  .information__rubric:nth-child(2) {
    width: 340px;
    margin: 0 auto;
    padding-top: 0;
    line-height: 46px;
  }

  .information__list {
    margin: 0;
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 268px auto;
    background-position-y: 4px;
    padding-left: 308px;
    padding-right: 3px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .information__list {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-repeat: no-repeat;
    }
  }

  .information__description {
    padding: 13px 0 33px;
    text-align: left;
  }

  .information__title {
    text-align: left;
  }

  .information__item .information__item-fone {
    padding-bottom: 42px;
    background: none;
  }

  .information__banner {
    padding-bottom: 38px;
    padding-top: 54px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    background-color: #f2f2f2;
  }

  .information__advantages-wrapper {
    display: block;
    padding: 113px 0;
    padding-top: 117px;
    background-position: 0 25px;
    background-size: 300px 345px;
  }

  .information__info {
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 0;
    background-color: #f2f2f2;
  }

  .information__rubric {
    font-size: 50px;
    padding-top: 0;
  }

  .information__rubric:nth-child(2) {
    width: auto;
    padding: 0 200px;
    padding-top: 5px;
    line-height: 60px;
  }

  .information__banner {
    margin: 0 auto;
    padding-top: 83px;
    padding-bottom: 75px;
    text-align: center;
  }

  .information__list {
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    background: none;
  }

  .information__description {
    padding: 0 5px;
    padding-top: 25px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .information__title {
    margin-top: 357px;
    padding: 0 10px;
    width: 230px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  .information__item {
    width: 250px;
    margin: 0 45px 0 25px;
  }

  .information__item:nth-child(1) {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .information__item:nth-child(1) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px auto;
    }
  }

  .information__item:nth-child(2) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .information__item:nth-child(2) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px auto;
    }
  }

  .information__item:nth-child(3) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .information__item:nth-child(3) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px auto;
    }
  }
}
