.nav {
  // width: 320px;
  margin: 0 auto;
  position: relative;
  font-weight: bold;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__wrapper-list {
  text-align: center;
}

.nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid;
  padding: 20px 50px;
  margin: 0;
}

.nav__list a {
  color: #ffffff;
  text-decoration: none;
}

.nav__toggle {
  position: relative;
  top: 20px;
  // right: 6.25%;
  // z-index: 2;
  display: block;
  width: 50px;
  height: 25px;
  // background-color: $color-background;
  background: rgba(40, 54, 69, 0.3);

  border: none;
  outline: none;
  cursor: pointer;
}

.listen-nav--closed .nav__toggle {
  background: rgba(40, 54, 69, 0.3);
}

.listen-nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.nav__toggle:active::before {
  background-color: #d22856;
  box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
  opacity: 0.7;
}

.nav__toggle {
  width: 25px;
  background: rgba(40, 54, 69, 0.3);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -2px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 20px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav__toggle:active {
  &::before,
  &::after {
    background-color: #d22856;
    opacity: 0.7;
  }
}

@media (max-width: $mobile-tablet-width-only) {
  .nav--closed .nav__wrapper-list {
    display: none;
  }

  .nav--opened .nav__wrapper-list,
  .nav--nojs .nav__wrapper-list {
    display: block;
  }

  .nav--nojs .nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    width: 660px;
  }

  .nav__wrapper-list {
    width: auto;
    margin: 0 auto;
  }

  .nav__list {
    width: auto;
  }

  .nav__list a[href] {
    &:active {
      color: #d22856;
      opacity: 0.7;
    }
  }

  .nav__toggle {
    top: -65px;
  }

  .nav--opened .nav__toggle:active {
    &::before,
    &::after {
      background-color: #d22856;
      opacity: 0.7;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 620px;
    margin: 0;
    margin-left: auto;
  }

  .nav__wrapper-list {
    margin-left: auto;
  }

  .nav__list {
    padding: 43px 0;
    display: flex;
    justify-content: space-between;
  }

  .nav__item {
    margin: 0;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .nav__toggle {
    display: none;
  }
}
