.nav {
  margin: 0 auto;
  position: relative;
  font-weight: bold;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid;
}

.listen-nav--closed .nav__list {
  border-top: none;
}

.nav__wrapper-list {
  text-align: center;
}

.nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid;
  padding: 15px 50px;
  margin: 0;
}

.nav__list a {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover {
  color: $color-text-pink;
}

.nav__link:active {
  color: #6d3650;
}

@media (max-width: $mobile-tablet-width-only) {
  .nav--closed .nav__wrapper-list {
    display: none;
  }

  .nav--opened .nav__wrapper-list,
  .nav--nojs .nav__wrapper-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .nav__wrapper-list {
    width: auto;
    margin: 0 auto;
  }

  .nav__list {
    width: auto;
  }

  .nav__list a[href] {
    &:active {
      color: #d22856;
      opacity: 0.7;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 622px;
    margin: 0;
    margin-left: auto;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
  }

  .nav__wrapper-list {
    margin-left: auto;
  }

  .nav__list {
    padding: 47px 0;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
  }

  .nav__list a {
    line-height: 18px;
  }

  .nav__item {
    margin: 0;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .nav__link {
    position: relative;
  }

  .nav__item--active .nav__link::before {
    content: "";
    position: absolute;
    height: 2px;
    top: 32px;
    left: 2px;
    right: 0;
    background-color: #ffffff;
  }
}
