.photo__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.photo__description {
  margin: 0;
  padding: 45px 15px;
  padding-bottom: 49px;
  font-size: $font-size-text;
  line-height: 30px;
  color: $color-text;
  background-color: #ffffff;
}

.photo__item {
  background-color: #f2f2f2;
  margin: 0;
  margin-bottom: 20px;
}

.photo__name {
  display: block;
  padding-left: 18px;
  padding-top: 18px;
  text-align: left;
  font-weight: $font-bold;
  font-size: $font-size-text;
  line-height: $line-size;
  position: relative;
}

.photo__name-top {
  padding-top: 23px;
}

.photo__name-top::before {
  content: "панорама дня";
  position: absolute;
  color: #ffffff;
  background-color: #d22856;
  top: -137px;
  right: 0;
  padding: 6px 20px;
  padding-left: 19px;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__date {
  font-size: $font-size-small;
  line-height: $line-size;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-text;
}

.photo__text {
  margin: 0;
  padding-left: 17px;
  padding-right: 20px;
  text-align: left;
  font-size: $font-size-text;
  line-height: $line-size;
  color: $color-text;
}

.photo__like {
  color: #d22856;
  font-size: $font-size-small;
  line-height: $line-size;
}

.photo__button {
  display: block;
  position: relative;
  padding: 0;
  padding-top: 12px;
  padding-left: 49px;
  padding-bottom: 23px;
  border: none;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #d22856;
  cursor: pointer;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.photo__button-top {
  padding: 0;
  padding-top: 13px;
  padding-left: 49px;
  padding-bottom: 23px;
  text-transform: uppercase;
}

.photo__button--item2 {
  padding-top: 14px;
}

.photo__button--item3 {
  padding-bottom: 24px;
}

.photo__button--item4 {
  padding-top: 13px;
  padding-bottom: 24px;
}

.photo__button::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  left: 18px;
  top: 15px;
  background: url("../img/icon-heart.svg") no-repeat;
}

.photo__tablet,
.photo__desktop {
  display: none;
}

.photo__main-photo {
  max-width: 100%;
}

.photo__main-photo-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.photo__top-wrapper {
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.photo__picture {
  display: block;
  height: 180px;
}

@media (min-width: $tablet-width) {
  .photo__main-photo-wrapper {
    width: 100%;
  }

  .photo__wrapper {
    margin-bottom: 50px;
  }

  .photo__picture {
    height: 300px;
  }

  .photo__mobile {
    display: none;
  }

  .photo__text {
    min-height: 50px;
    padding-left: 27px;
  }

  .photo__text-top {
    padding-bottom: 22px;
  }

  .photo__date {
    text-transform: uppercase;
  }

  .photo__tablet {
    display: block;
  }

  .photo__button {
    padding-top: 13px;
    padding-left: 27px;
    padding-bottom: 26px;
    padding-right: 170px;
  }

  .photo__button::before {
    left: 255px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .photo__button::before {
      position: absolute;
      top: 15px;
      left: 255px;
    }
  }


  .photo__top-wrapper {
    padding: 0;
    margin-bottom: 0;
    position: relative;
  }

  .photo__name {
    padding-left: 27px;
    padding-top: 24px;
  }

  .photo__name-top {
    padding-top: 23px;
  }

  .photo__top {
    padding-left: 27px;
    padding-right: 20px;
    background-color: #f2f2f2;
  }

  .photo__top::before {
    padding: 6px 20px;
    top: -428px;
    text-transform: uppercase;
  }

  .photo__name-top::before {
    top: -453px;
  }

  .photo__list {
    margin: 0 auto;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .photo__button-top {
    position: absolute;
    padding: 0;
    padding-right: 50px;
    top: 27px;
    right: 10px;
  }

  .photo__button-top::before {
    left: 107px;
    top: 2px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .photo__button-top::before {
      top: 2px;
      left: 107px;
    }
  }


  .photo__item {
    width: 300px;
  }

  .photo__description {
    font-size: 18px;
    padding: 92px 85px 75px;
  }

  .photo__main-photo {
    height: max-content;
  }
}

@media (min-width: $desktop-width) {
  .photo__tablet {
    display: none;
  }

  .photo__picture {
    height: 400px;
  }

  .photo__item {
    margin-bottom: 54px;
  }

  .photo__text,
  .photo__name {
    padding-left: 26px;
  }

  .photo__name-top {
    padding: 0;
    padding-top: 23px;
    padding-left: 27px;
  }

  .photo__name-top::before {
    top: -452px;
  }

  .photo__text-top {
    padding: 0;
    padding-left: 27px;
    padding-bottom: 24px;
    min-height: auto;
  }

  .photo__desktop {
    display: block;
  }

  .photo__top::before {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    top: -456px;
    padding: 5px 18px;
    right: 65px;
  }

  .photo__list {
    width: 940px;
  }

  .photo__wrapper {
    background-color: #ffffff;
  }

  .photo__main-photo-wrapper {
    width: 100%;
  }

  .photo__description {
    margin: 0 auto;
    padding: 92px 170px 88px;
  }

  .photo__button-top {
    right: 12px;
    top: 28px;
  }

  .photo__button::before {
    top: 15px;
    left: 255px;
  }

  .photo__button-top::before {
    left: 107px;
    top: 2px;
  }
}
